---
import Layout from './_layout.astro';

import NameCard from '../components/home/name-card.tsx';
import AboutCard from '../components/home/about-card.astro';
import TitleCard from '../components/home/title-card.astro';
import TechnologiesCard from '../components/home/technologies-card.astro';
import EducationCard from '../components/home/education-card.astro';
import LocationCard from '../components/home/location-card.astro';
import ProjectsButton from '../components/home/projects-button.tsx';
---

<Layout>
  <script>
    import { doAnimation } from "../functions/animation.ts";

    const mq = window.matchMedia("(min-width: 1024px)");
    if (mq.matches) {
      doAnimation("#title", "translateY(-100px)", 0.1);
      doAnimation("#location", "translateY(-100px)", 0.1);
      doAnimation("#button", "translateY(100px)", 0.2);
      doAnimation("#about", "translateX(-100px)", 0.4);
      doAnimation("#technologies", "translateY(100px)", 0.3);
      doAnimation("#education", "translateX(100px)", 0.5);
    }
  </script>

  <div
    class="grid grid-cols-1 gap-5 overflow-hidden p-5 lg:grid-cols-3 lg:grid-rows-6"
  >
    <NameCard
      className="col-span-full lg:col-span-1 lg:col-start-2 lg:row-span-2 lg:row-start-3"
    />
    <AboutCard
      id="about"
      className="col-span-full lg:col-span-2 lg:col-start-1 lg:row-span-2 lg:row-start-1 lg:scripting:opacity-0"
    />
    <TitleCard
      id="title"
      className="col-span-full lg:col-span-1 lg:col-start-1 lg:row-span-1 lg:row-start-3 lg:scripting:opacity-0"
    />
    <ProjectsButton
      id="button"
      className="col-span-full lg:col-span-1 lg:col-start-3 lg:row-span-1 lg:row-start-4 lg:scripting:opacity-0"
    />
    <TechnologiesCard
      id="technologies"
      className="col-span-full lg:col-span-1 lg:col-start-1 lg:row-span-3 lg:row-start-4 lg:scripting:opacity-0"
    />
    <EducationCard
      id="education"
      className="col-span-full lg:col-span-2 lg:col-start-2 lg:row-span-2 lg:row-start-5 lg:scripting:opacity-0"
    />
    <LocationCard
      id="location"
      className="col-span-full lg:col-span-1 lg:col-start-3 lg:row-span-3 lg:row-start-1 lg:scripting:opacity-0"
    />
  </div>
</Layout>
