---
import { ProjectCard } from '../components/project-card.tsx';
import { projects } from '../functions/projects.ts';
import Layout from './_layout.astro';
---

<Layout>
  <div class="grid grid-cols-1 gap-5 p-5 lg:grid-cols-2 lg:p-20">
    {projects.map((project) => <ProjectCard {...project} />)}
  </div>
</Layout>
