---
import { Card, CardContent, CardHeader, CardTitle } from "../ui/card.tsx";
---

<Card {...Astro.props}>
  <CardHeader>
    <CardTitle className="text-3xl">Who I Am</CardTitle>
  </CardHeader>

  <CardContent className="space-y-2">
    <p>
      I'm a software developer who got into coding back in 2020 by teaching
      myself the basics and seeing where it took me. Since then, I've worked on
      a mix of projects - websites, games, desktop apps, mobile apps - basically
      whatever seemed interesting at the time. These days I'm mostly focused on
      web development using React and Next.js, but I'm always keen to learn new
      stuff and take on challenges that push me further.
    </p>
  </CardContent>
</Card>
